Repository blitzy-public-samples/task-manager-evqpaf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @database-team, @tech-writers, @project-leads, @security-team, @qa-team

.github/CODEOWNERS:

# This file defines code ownership rules for automatic review assignments
# Format: <file_pattern> <owner1> <owner2> ...
# Owners can be GitHub usernames or team names (prefixed with @)

# Default owners for everything in the repo (unless overridden below)
* @global-owner1 @global-owner2

# Backend service ownership
/src/backend/ @backend-team
/src/services/ @backend-team
/src/api/ @backend-team

# Frontend ownership
/src/web/ @frontend-team
/src/ui/ @frontend-team
/src/components/ @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team
/deployment/ @devops-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/kubernetes/ @devops-team

# Database related files
/src/database/ @backend-team @database-team
/migrations/ @database-team

# Configuration files
*.json @devops-team
*.yaml @devops-team
*.yml @devops-team

# Documentation
/docs/ @tech-writers @project-leads
*.md @tech-writers @project-leads

# Security related files
/security/ @security-team
/src/auth/ @security-team

# Test files
/tests/ @qa-team
/cypress/ @qa-team
/jest/ @qa-team

# Package management
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Build configuration
webpack.config.js @frontend-team @devops-team
tsconfig.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# Monitoring and logging
/monitoring/ @devops-team
/logging/ @devops-team

# API documentation
/api-docs/ @backend-team @tech-writers
/swagger/ @backend-team @tech-writers

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team
/static/ @frontend-team

# Shared utilities and common code
/src/utils/ @backend-team @frontend-team
/src/common/ @backend-team @frontend-team
/src/shared/ @backend-team @frontend-team

# Environment configuration
.env* @devops-team @security-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/controllers/user.controller.ts
  src/backend/user-service/src/controllers/user.controller.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/models/user.model.ts
  src/backend/user-service/src/models/user.model.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/repositories/user.repository.ts
  src/backend/user-service/src/repositories/user.repository.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/routes/user.routes.ts
  src/backend/user-service/src/routes/user.routes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/services/user.service.ts
  src/backend/user-service/src/services/user.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/validators/user.validator.ts
  src/backend/user-service/src/validators/user.validator.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/tests/integration/user.test.ts
  src/backend/user-service/tests/integration/user.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/tests/unit/user.test.ts
  src/backend/user-service/tests/unit/user.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/.env.example
  src/web/.env.example
Owners: @devops-team, @security-team

Add public-samples/task-manager-evqpaf/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/README.md
  src/web/README.md
Owners: @tech-writers, @project-leads

Add public-samples/task-manager-evqpaf/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/package.json
  src/web/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Avatar/Avatar.test.tsx
  src/web/src/components/common/Avatar/Avatar.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Avatar/Avatar.tsx
  src/web/src/components/common/Avatar/Avatar.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Button/Button.test.tsx
  src/web/src/components/common/Button/Button.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Button/Button.tsx
  src/web/src/components/common/Button/Button.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Card/Card.test.tsx
  src/web/src/components/common/Card/Card.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Card/Card.tsx
  src/web/src/components/common/Card/Card.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Checkbox/Checkbox.test.tsx
  src/web/src/components/common/Checkbox/Checkbox.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Checkbox/Checkbox.tsx
  src/web/src/components/common/Checkbox/Checkbox.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/DatePicker/DatePicker.test.tsx
  src/web/src/components/common/DatePicker/DatePicker.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/DatePicker/DatePicker.tsx
  src/web/src/components/common/DatePicker/DatePicker.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Dialog/Dialog.test.tsx
  src/web/src/components/common/Dialog/Dialog.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Dialog/Dialog.tsx
  src/web/src/components/common/Dialog/Dialog.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Dropdown/Dropdown.test.tsx
  src/web/src/components/common/Dropdown/Dropdown.test.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/Dropdown/Dropdown.tsx
  src/web/src/components/common/Dropdown/Dropdown.tsx
Owners: @frontend-team

Add public-samples/task-manager-evqpaf/src/web/src/components/common/FileUpload/FileUpload.test.tsx
  src/web/src/components/common/FileUpload/FileUpload.test.tsx
Owners: @frontend-team
