Repository blitzy-public-samples/task-manager-evqpaf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @database-team, @tech-writers, @project-leads, @security-team, @qa-team

.github/CODEOWNERS:

# This file defines code ownership rules for automatic review assignments
# Format: <file_pattern> <owner1> <owner2> ...
# Owners can be GitHub usernames or team names (prefixed with @)

# Default owners for everything in the repo (unless overridden below)
* @global-owner1 @global-owner2

# Backend service ownership
/src/backend/ @backend-team
/src/services/ @backend-team
/src/api/ @backend-team

# Frontend ownership
/src/web/ @frontend-team
/src/ui/ @frontend-team
/src/components/ @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team
/deployment/ @devops-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/kubernetes/ @devops-team

# Database related files
/src/database/ @backend-team @database-team
/migrations/ @database-team

# Configuration files
*.json @devops-team
*.yaml @devops-team
*.yml @devops-team

# Documentation
/docs/ @tech-writers @project-leads
*.md @tech-writers @project-leads

# Security related files
/security/ @security-team
/src/auth/ @security-team

# Test files
/tests/ @qa-team
/cypress/ @qa-team
/jest/ @qa-team

# Package management
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Build configuration
webpack.config.js @frontend-team @devops-team
tsconfig.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# Monitoring and logging
/monitoring/ @devops-team
/logging/ @devops-team

# API documentation
/api-docs/ @backend-team @tech-writers
/swagger/ @backend-team @tech-writers

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team
/static/ @frontend-team

# Shared utilities and common code
/src/utils/ @backend-team @frontend-team
/src/common/ @backend-team @frontend-team
/src/shared/ @backend-team @frontend-team

# Environment configuration
.env* @devops-team @security-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/config/database.config.ts
  src/backend/project-service/src/config/database.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/controllers/project.controller.ts
  src/backend/project-service/src/controllers/project.controller.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/models/project.model.ts
  src/backend/project-service/src/models/project.model.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/repositories/project.repository.ts
  src/backend/project-service/src/repositories/project.repository.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/routes/project.routes.ts
  src/backend/project-service/src/routes/project.routes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/services/project.service.ts
  src/backend/project-service/src/services/project.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/validators/project.validator.ts
  src/backend/project-service/src/validators/project.validator.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/tests/unit/project.test.ts
  src/backend/project-service/tests/unit/project.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/scripts/migration.sh
  src/backend/scripts/migration.sh
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/constants/error-codes.ts
  src/backend/shared/constants/error-codes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/constants/status-codes.ts
  src/backend/shared/constants/status-codes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/interfaces/base-controller.interface.ts
  src/backend/shared/interfaces/base-controller.interface.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/interfaces/base-repository.interface.ts
  src/backend/shared/interfaces/base-repository.interface.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/interfaces/base-service.interface.ts
  src/backend/shared/interfaces/base-service.interface.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/types/common.types.ts
  src/backend/shared/types/common.types.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/utils/error-handler.ts
  src/backend/shared/utils/error-handler.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/utils/response-formatter.ts
  src/backend/shared/utils/response-formatter.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/shared/validators/common.validator.ts
  src/backend/shared/validators/common.validator.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/Dockerfile
  src/backend/task-service/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/package.json
  src/backend/task-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/tsconfig.json
  src/backend/task-service/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/app.ts
  src/backend/task-service/src/app.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/config/database.config.ts
  src/backend/task-service/src/config/database.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/controllers/task.controller.ts
  src/backend/task-service/src/controllers/task.controller.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/models/task.model.ts
  src/backend/task-service/src/models/task.model.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/repositories/task.repository.ts
  src/backend/task-service/src/repositories/task.repository.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/routes/task.routes.ts
  src/backend/task-service/src/routes/task.routes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/services/task.service.ts
  src/backend/task-service/src/services/task.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/src/validators/task.validator.ts
  src/backend/task-service/src/validators/task.validator.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/tests/integration/task.test.ts
  src/backend/task-service/tests/integration/task.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/task-service/tests/unit/task.test.ts
  src/backend/task-service/tests/unit/task.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/Dockerfile
  src/backend/user-service/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/package.json
  src/backend/user-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/tsconfig.json
  src/backend/user-service/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/app.ts
  src/backend/user-service/src/app.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/user-service/src/config/database.config.ts
  src/backend/user-service/src/config/database.config.ts
Owners: @backend-team
