Repository blitzy-public-samples/task-manager-evqpaf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @database-team, @tech-writers, @project-leads, @security-team, @qa-team

Add public-samples/task-manager-evqpaf/infrastructure/kubernetes/monitoring/kibana/deployment.yaml
  infrastructure/kubernetes/monitoring/kibana/deployment.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/kubernetes/monitoring/kibana/service.yaml
  infrastructure/kubernetes/monitoring/kibana/service.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team

Add public-samples/task-manager-evqpaf/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/.env.example
  src/backend/.env.example
Owners: @devops-team, @security-team

Add public-samples/task-manager-evqpaf/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/README.md
  src/backend/README.md
Owners: @tech-writers, @project-leads

Add public-samples/task-manager-evqpaf/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @devops-team

Add public-samples/task-manager-evqpaf/src/backend/package.json
  src/backend/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team

.github/CODEOWNERS:

# This file defines code ownership rules for automatic review assignments
# Format: <file_pattern> <owner1> <owner2> ...
# Owners can be GitHub usernames or team names (prefixed with @)

# Default owners for everything in the repo (unless overridden below)
* @global-owner1 @global-owner2

# Backend service ownership
/src/backend/ @backend-team
/src/services/ @backend-team
/src/api/ @backend-team

# Frontend ownership
/src/web/ @frontend-team
/src/ui/ @frontend-team
/src/components/ @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team
/deployment/ @devops-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/kubernetes/ @devops-team

# Database related files
/src/database/ @backend-team @database-team
/migrations/ @database-team

# Configuration files
*.json @devops-team
*.yaml @devops-team
*.yml @devops-team

# Documentation
/docs/ @tech-writers @project-leads
*.md @tech-writers @project-leads

# Security related files
/security/ @security-team
/src/auth/ @security-team

# Test files
/tests/ @qa-team
/cypress/ @qa-team
/jest/ @qa-team

# Package management
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Build configuration
webpack.config.js @frontend-team @devops-team
tsconfig.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# Monitoring and logging
/monitoring/ @devops-team
/logging/ @devops-team

# API documentation
/api-docs/ @backend-team @tech-writers
/swagger/ @backend-team @tech-writers

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team
/static/ @frontend-team

# Shared utilities and common code
/src/utils/ @backend-team @frontend-team
/src/common/ @backend-team @frontend-team
/src/shared/ @backend-team @frontend-team

# Environment configuration
.env* @devops-team @security-team
