Repository blitzy-public-samples/task-manager-evqpaf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @backend-team, @frontend-team, @devops-team, @database-team, @tech-writers, @project-leads, @security-team, @qa-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/config/cors.config.ts
  src/backend/api-gateway/src/config/cors.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/config/rate-limit.config.ts
  src/backend/api-gateway/src/config/rate-limit.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/config/routes.config.ts
  src/backend/api-gateway/src/config/routes.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/middleware/validation.middleware.ts
  src/backend/api-gateway/src/middleware/validation.middleware.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/routes/health.routes.ts
  src/backend/api-gateway/src/routes/health.routes.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/services/auth.service.ts
  src/backend/api-gateway/src/services/auth.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/tests/integration/auth.test.ts
  src/backend/api-gateway/tests/integration/auth.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/api-gateway/tests/unit/middleware.test.ts
  src/backend/api-gateway/tests/unit/middleware.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/migrations/001_create_users_table.ts
  src/backend/database/migrations/001_create_users_table.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/migrations/002_create_projects_table.ts
  src/backend/database/migrations/002_create_projects_table.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/migrations/003_create_tasks_table.ts
  src/backend/database/migrations/003_create_tasks_table.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/migrations/004_create_notifications_table.ts
  src/backend/database/migrations/004_create_notifications_table.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/seeds/001_roles.ts
  src/backend/database/seeds/001_roles.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/database/seeds/002_admin_user.ts
  src/backend/database/seeds/002_admin_user.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/docs/api-docs.yaml
  src/backend/docs/api-docs.yaml
Owners: @devops-team

Add public-samples/task-manager-evqpaf/src/backend/docs/architecture.md
  src/backend/docs/architecture.md
Owners: @tech-writers, @project-leads

Add public-samples/task-manager-evqpaf/src/backend/docs/deployment.md
  src/backend/docs/deployment.md
Owners: @tech-writers, @project-leads

Add public-samples/task-manager-evqpaf/src/backend/docs/security.md
  src/backend/docs/security.md
Owners: @tech-writers, @project-leads

Add public-samples/task-manager-evqpaf/src/backend/notification-service/Dockerfile
  src/backend/notification-service/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/package.json
  src/backend/notification-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/tsconfig.json
  src/backend/notification-service/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/app.ts
  src/backend/notification-service/src/app.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/config/email.config.ts
  src/backend/notification-service/src/config/email.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/config/redis.config.ts
  src/backend/notification-service/src/config/redis.config.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/controllers/notification.controller.ts
  src/backend/notification-service/src/controllers/notification.controller.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/models/notification.model.ts
  src/backend/notification-service/src/models/notification.model.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/services/email.service.ts
  src/backend/notification-service/src/services/email.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/services/notification.service.ts
  src/backend/notification-service/src/services/notification.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/src/services/websocket.service.ts
  src/backend/notification-service/src/services/websocket.service.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/tests/integration/notification.test.ts
  src/backend/notification-service/tests/integration/notification.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/notification-service/tests/unit/notification.test.ts
  src/backend/notification-service/tests/unit/notification.test.ts
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/Dockerfile
  src/backend/project-service/Dockerfile
Owners: @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/package.json
  src/backend/project-service/package.json
Owners: @devops-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/tsconfig.json
  src/backend/project-service/tsconfig.json
Owners: @frontend-team, @backend-team

Add public-samples/task-manager-evqpaf/src/backend/project-service/src/app.ts
  src/backend/project-service/src/app.ts
Owners: @backend-team

.github/CODEOWNERS:

# This file defines code ownership rules for automatic review assignments
# Format: <file_pattern> <owner1> <owner2> ...
# Owners can be GitHub usernames or team names (prefixed with @)

# Default owners for everything in the repo (unless overridden below)
* @global-owner1 @global-owner2

# Backend service ownership
/src/backend/ @backend-team
/src/services/ @backend-team
/src/api/ @backend-team

# Frontend ownership
/src/web/ @frontend-team
/src/ui/ @frontend-team
/src/components/ @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team
/deployment/ @devops-team
/.github/workflows/ @devops-team
/docker/ @devops-team
/kubernetes/ @devops-team

# Database related files
/src/database/ @backend-team @database-team
/migrations/ @database-team

# Configuration files
*.json @devops-team
*.yaml @devops-team
*.yml @devops-team

# Documentation
/docs/ @tech-writers @project-leads
*.md @tech-writers @project-leads

# Security related files
/security/ @security-team
/src/auth/ @security-team

# Test files
/tests/ @qa-team
/cypress/ @qa-team
/jest/ @qa-team

# Package management
package.json @devops-team @backend-team
package-lock.json @devops-team @backend-team
yarn.lock @devops-team @backend-team

# Build configuration
webpack.config.js @frontend-team @devops-team
tsconfig.json @frontend-team @backend-team
.eslintrc* @frontend-team @backend-team
.prettierrc* @frontend-team @backend-team

# CI/CD
/.github/ @devops-team
/scripts/ @devops-team

# Monitoring and logging
/monitoring/ @devops-team
/logging/ @devops-team

# API documentation
/api-docs/ @backend-team @tech-writers
/swagger/ @backend-team @tech-writers

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team
/static/ @frontend-team

# Shared utilities and common code
/src/utils/ @backend-team @frontend-team
/src/common/ @backend-team @frontend-team
/src/shared/ @backend-team @frontend-team

# Environment configuration
.env* @devops-team @security-team
